@using GibJohn.Data;
@using System.Security.Claims;
@model IEnumerable<GibJohn.Models.Course>
@inject ApplicationDbContext DbContext
@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@if (Model != null)
{
    <p class="text-center">View our courses below!</p>

    <div class="d-flex flex-row justify-content-around container-fluid upcoming-hackathons">
        @foreach (var item in Model)
        {
            <div class="card bg-secondary" style="width: 24rem;">
                <img class="card-img-top" src="@(item.ImageURL ?? "https://openclipart.org/image/2400px/svg_to_png/159463/open-book-grey.png")" alt="Card image cap" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    @{
                        var existingRegistration = DbContext.Registration.FirstOrDefault(r => r.CourseId == @item.Id && r.UserId == userId);
                    }
                    <form asp-action="RegisterForCourse" asp-controller="Courses" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        @if (existingRegistration != null)
                        {
                            <button type="submit" class="w-100 btn btn-lg disabled btn-primary" disabled>Already Enrolled!</button>
                        }
                        else
                        {
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Join</button>
                        }


                    </form>


                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">No available Courses</p>
}

